@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#anburguer {
        display: none;
    }
    menu {
        display: block;
        text-align: center;
        border-radius: 10px;
    }

    menu > ul > li {
        display: inline-block;
        width: 100px;
        margin-bottom: 5px;
           
    }
    main {
        width: 768px;
    }
}

